body {
    background-color: rgb(56, 18, 18);
    
}

#board{
    background-color: black;
    width: 720px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    
    
    
    
}

#boardTop{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#boardBottom{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
    /* background-color: rgb(177, 177, 177, 0.7); */
}

.cell {
    width: 90px;
    height: 90px;
    background-color: rgb(255, 228, 196, 0.9) /*#ffe4c4*/ ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unusedCell {
    width: 90px; 
    height: 90px; 
    background-color: rgb(186, 122, 58, 0.9)/* #ba7a3a*/;
}

.piece {
    padding: 12px;
    width: 40px; 
    height: 40px; 
    border: 2px solid white;
    border-radius: 50px; 
}

#r{
    background-color: red;
 
}
#w{
    background-color: rgb(0, 0, 0);

}
#W{
    background-color: purple;

}
#R{
    background-color: orange;

}